*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: red;
}
#left{
    position: relative;
    width: 40%;
    height: 100%;
    background-color: white;
}
#lnav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}
#lnavr{
    display: flex;
    align-items: center;
}
#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}
#lnavr i{
    color: royalblue;
}
#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#textcenter h1{
    font-size: 90px;
    font-weight: 900;
}
#textcenter p{
    opacity: 0.6;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#textcenter a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: black;
    border-bottom: 1px solid black;
    padding: 5px;
    opacity: 0.6;
}
#right{
    width:60%;
    height: 100%;
    background-color: blueviolet;
}
#topright{
    display: flex;
    height: 50%;
    width: 100%;
    background-color: rgb(236, 236, 8);
}
#righttopleft{
    width: 45%;
    height: 100%;
    background-color: aqua;
}
#righttopleft video{
   object-fit: cover;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
#righttopright{
    width:55%;
    height: 100%;
    background-image: url(./orange.jpg);
    background-position: center;
    background-size:cover;
}
#bottomright{
    height: 50%;
    width: 100%;
    background-image: url(./plant.jpg);
    background-position: top;
    background-size:cover;
}
@media(max-width: 500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
    #main #right{
        width: 100%;
    }
    #textcenter h1{
        font-size: 50px;
        font-weight: 900;
    }
}